.App {
	text-align: center;
	position: absolute;
	top: 20%;
	left: 20%;

	button {
		font-weight: bold;
	}

	.make {
		padding: 3px;
	}
	.model {
		padding: 3px;
	}
	.vehicleNumber {
		padding: 3px;
		width: 100px;
	}
}
